.animation-collapse{

 
}
.menu {
    
}
.menu-list{
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 60px;
}
.btn-collapse{
    cursor: pointer;
    width: 30px;
}
.icon-collapse{
    font-size: 20px;
}

.item {
    font-size: 14px;
    padding: 14px 10px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
 

    
  }

  .active {
    background-color: #f4f6fa;
    border-bottom-color: var(--bs-primary);
    color: var(--bs-primary);
  }
.content {
    background-color: #F5F8FA;
}